* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: red;
    justify-content: center;
}

.nav {
    display: flex;
    background-color: blue;
}

.nav_links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav_links li a {
    text-decoration: none;
    color: white;
}

.nav_links li {
    padding: 0px 20px;
}